#lp{background-color:white;height: 100vh;display: flex;align-items: center;justify-content: center;background-color: white

;}  
.inputbox{height: 400px;width: 200px;display: flex;flex-direction: column;align-items: center;justify-content: center;}   
.inputbox button{background-color:white;border-bottom: 1px solid grey;border-right: 5px solid rgba(0, 0, 142, 0.699);border-left:5px solid rgba(0, 0, 142, 0.699) ;border-top: 5px solid rgba(0, 0, 142, 0.699);
color:rgba(0, 0, 142, 0.699);}
.inputbox input{border-bottom: 1px solid grey;border-right: 5px solid rgba(0, 0, 142, 0.699);border-left:5px solid rgba(0, 0, 142, 0.699) ;border-top: 5px solid rgba(0, 0, 142, 0.699);
color:rgba(0, 0, 142, 0.699);margin-bottom: 10px;color:rgba(0, 0, 142, 0.699) ;}
.inputbox input::placeholder{color: rgba(0, 0, 142, 0.699);}
.inputbox h1{color: rgba(0, 0, 142, 0.699);font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;margin-top: 1PX;margin-bottom: 1PX;font-weight: lighter;} 
.inputbox button:hover{scale: 1.05;}
.loader{height: 100px;width: 100px;border-radius: 50%;
border:20px solid white;border-top:20px solid rgba(0, 0, 142, 0.699);animation-name: spinanim;animation-iteration-count: infinite;animation-timing-function: linear;animation-duration: 0.25s;animation-delay:0s;}
@keyframes spinanim{from{rotate: 0deg;} to{rotate: 360deg;}}
header{height: 30px;width: 100vw;color: white;background-color: rgb(0, 0, 142);position: fixed;top: 0px;left: 0px;text-align: center;text-decoration: dotted;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-weight: bold;font-size: larger;z-index: 1000;;}
footer{height: 30px;width: 100vw;color: white;background-color: rgba(0, 0, 98, 0.897);position: fixed;bottom: 0px;left: 0px;text-align: center;text-decoration: dotted;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-weight: bold;font-size: larger;z-index: +1;}  
.concepts{background-color: white;min-height: 100vh;width: 100%;padding-top: 35px;}
.topicb{text-decoration: none;width: 400px;border: 1px solid rgba(0, 0, 142, 0.699);color: rgba(0, 0, 142, 0.699);margin-bottom: 7px;border-radius: 10px;text-align: center;}
.topicb:hover{background-color: rgba(0, 0, 98, 0.897);color: white;border: 1px solid rgba(0, 0, 98, 0.897);scale: 1.05;}
#topics{display: flex;flex-direction: column;align-items: left;}
#greet{width: 50vw;border-bottom: 1px solid rgba(0, 0, 142, 0.699);border-right: 5px solid rgba(0, 0, 142, 0.699);border-left:5px solid rgba(0, 0, 142, 0.699) ;border-top: 5px solid rgba(0, 0, 142, 0.699);color: rgba(0, 0, 98, 0.897);} 
#tq{width: 50vw;border-bottom: 1px solid rgba(0, 0, 142, 0.699);border-right: 5px solid rgba(0, 0, 142, 0.699);border-left:5px solid rgba(0, 0, 142, 0.699) ;border-top: 5px solid rgba(0, 0, 142, 0.699);color: rgba(0, 0, 98, 0.897);}    
.conceptin{padding-top: 50px;}
.conceptin{display: flex;flex-direction:column;align-items:start;}
.next{text-decoration: none;width: 400px;border: 1px solid rgba(0, 0, 142, 0.699);color: rgba(0, 0, 142, 0.699);margin-bottom: 100px;border-radius: 10px;}
.next:hover{background-color: rgba(0, 0, 98, 0.897);color: white;border: 1px solid rgba(0, 0, 98, 0.897);scale: 1.05;}
#chh{color: rgba(0, 0, 142, 0.699);text-align: center;font-family: fantasy;}
#con{color: rgba(0, 0, 0, 0.832);font-family: cursive;}
#qh{padding-top: 30px;padding-bottom: 20px;font-family: fantasy;color: rgba(0, 0, 142, 0.699);} 
.submitb{margin-top: 30px;width: 200px;color: rgba(0, 0, 142, 0.699);margin:1px solid rgba(0,0,142,0.699);height:30px;background-color: white;border-radius: 20px;margin-bottom: 100px;}
.submitb:hover{scale: 1.1;color: white;background-color: rgba(0, 0, 98, 0.897);}    
.option{display: flex;align-items: start;}
.question-block{font-family: cursive;}
.question-block:hover{border: 2px solid rgba(0, 0, 98, 0.897);border-radius: 20px;}
.result{display: flex;align-items: center;justify-content: center;flex-direction: column;position: fixed;top: 150px;height: 400px;width: 600px;border: 5px solid rgba(0, 0, 142, 0.699);border-radius: 30px;}
#rb{display: flex;align-items: center;justify-content:center ;} 
#rh{color: white;background-color: rgba(0, 0, 142, 0.699);border-radius: 20px;font-family: fantasy;font-weight: lighter;padding-left: 10px;padding-right: 10px;}    
#marks{font-family: cursive;}
#try{padding-left: 10px;padding-right: 10px;color: rgba(0, 0, 142, 0.699);background-color: white;border: 2px solid rgba(0, 0, 142, 0.699);border-radius: 30px;}
#try:hover{scale: 1.1;color: white;background-color: rgba(0, 0, 98, 0.897);border-color: rgba(0, 0, 98, 0.897);}
#gohome{padding-left: 10px;padding-right: 10px;color: rgba(0, 0, 142, 0.699);background-color: white;border: 2px solid rgba(0, 0, 142, 0.699);border-radius: 30px;margin-bottom: 20px;}
#gohome:hover{scale: 1.1;color: white;background-color: rgba(0, 0, 98, 0.897);border-color: rgba(0, 0, 98, 0.897);}
a{text-decoration: none;}
a:hover{color: white;}
#fb{font-family:cursive;}

