<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>topics</title>
</head>
<body>
    <header>LEARN PHYSICS</header>
    <div class="concepts">
        <h1 id="greet">HEY! {{username}} 👋</h1>
        <h2 id="tq">What do you want to learn Today?</h2>
        <div id="topics">
        {% for t in topics %}
        <a href="{{ url_for('concept', topic_name=t,username=username) }}"class="topicb">{{t}}</a>
        {% endfor %}
        </div>
    </div>
    <footer>© BASED ON NCERT CONCEPTS</footer>
</body>
</html>